<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CryptoApp</title>
    <!-- SB Admin 2 CSS -->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet" />
    <link href="~/css/dark-theme.css" rel="stylesheet" />

    <!-- FontAwesome -->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- Custom site CSS -->
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">CryptoApp</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link @(ViewContext.RouteData.Values["page"]?.ToString() == "/Index" ? "active" : "")" asp-page="/Index">Početna</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewContext.RouteData.Values["page"]?.ToString() == "/Encode" ? "active" : "")" asp-page="/Encode">Šifrovanje</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewContext.RouteData.Values["page"]?.ToString() == "/Decode" ? "active" : "")" asp-page="/Decode">Dešifrovanje</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewContext.RouteData.Values["page"]?.ToString() == "/Settings" ? "active" : "")" asp-page="/Settings">Podešavanja</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewContext.RouteData.Values["page"]?.ToString() == "/Exchange" ? "active" : "")" asp-page="/Exchange">Razmena</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - CryptoApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- SB Admin 2 JS -->
    <script src="~/js/sb-admin-2.min.js"></script>
    <!-- Custom site JS -->
    <script src="~/js/site.js"></script>



    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>